{
  "_comment": "Full Trading Layer OpenAPI spec, fetched verbatim from the live source. Re-fetch and diff if backend behavior diverges from any field documented here.",
  "_source_url": "https://api.trading-layer.com/openapi.json",
  "_fetched_at_utc": "2026-06-11T13:07:05Z",
  "_fetched_by": "Lovable agent \u2014 Phase 4(a) spec harvest",
  "openapi": "3.1.0",
  "info": {
    "title": "TradingLayer MT5 REST API",
    "version": "1.0.0",
    "description": "Canonical MT5 REST API for tenant owner and trader accounts.\n\nBroker trade outcomes are returned as response data. HTTP errors are reserved for API and platform failures."
  },
  "servers": [
    {
      "url": "https://api.trading-layer.com",
      "description": "Configured public API endpoint"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "tl_live API key"
      }
    },
    "schemas": {
      "Mt5ConnectionStatus": {
        "type": "string",
        "enum": [
          "not_connected",
          "connected",
          "invalid",
          "disconnected",
          "failed"
        ],
        "description": "Stored MT5 credential state for this account.",
        "example": "connected"
      },
      "Mt5AccountInfo": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "login": {
            "type": "integer",
            "example": 12345678
          },
          "trade_mode": {
            "type": "number",
            "enum": [
              0,
              1,
              2,
              3,
              4
            ],
            "description": "MT5 ENUM_SYMBOL_TRADE_MODE: 0 disabled, 1 long-only, 2 short-only, 3 close-only, 4 full trading.",
            "example": 4,
            "x-enumNames": [
              "SYMBOL_TRADE_MODE_DISABLED",
              "SYMBOL_TRADE_MODE_LONGONLY",
              "SYMBOL_TRADE_MODE_SHORTONLY",
              "SYMBOL_TRADE_MODE_CLOSEONLY",
              "SYMBOL_TRADE_MODE_FULL"
            ],
            "x-enumDescriptions": [
              "Trading is disabled for this symbol.",
              "Only long positions are allowed.",
              "Only short positions are allowed.",
              "Only closing existing positions is allowed.",
              "Full trading is allowed."
            ],
            "x-enumVarNames": [
              "SYMBOL_TRADE_MODE_DISABLED",
              "SYMBOL_TRADE_MODE_LONGONLY",
              "SYMBOL_TRADE_MODE_SHORTONLY",
              "SYMBOL_TRADE_MODE_CLOSEONLY",
              "SYMBOL_TRADE_MODE_FULL"
            ]
          },
          "trade_allowed": {
            "type": "boolean",
            "description": "Whether account-level MT5 trading is allowed.",
            "example": true
          },
          "leverage": {
            "type": "integer",
            "example": 1000
          },
          "margin_mode": {
            "type": "integer",
            "example": 2
          },
          "margin_so_mode": {
            "type": "integer",
            "example": 0
          },
          "margin_so_call": {
            "type": "number",
            "example": 100
          },
          "margin_so_so": {
            "type": "number",
            "example": 20
          },
          "currency_digits": {
            "type": "integer",
            "example": 2
          },
          "balance": {
            "type": "number",
            "example": 10000.5
          },
          "credit": {
            "type": "number",
            "example": 0
          },
          "profit": {
            "type": "number",
            "example": 25.4
          },
          "equity": {
            "type": "number",
            "example": 10025.9
          },
          "name": {
            "type": "string",
            "example": "Demo Account"
          },
          "server": {
            "type": "string",
            "example": "Broker-Demo"
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "company": {
            "type": "string",
            "example": "Broker Co."
          }
        },
        "required": [
          "login",
          "balance",
          "equity"
        ],
        "description": "Live MT5 account info for connected traders when the API key also has `mt5:read`. Present on `GET /api/v1/traders/{traderId}`; omitted from list responses."
      },
      "Mt5SymbolListEntry": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Broker symbol name.",
            "example": "EURUSD"
          },
          "path": {
            "type": "string",
            "description": "Symbol tree path in the MT5 terminal.",
            "example": "Forex\\Majors\\EURUSD"
          },
          "description": {
            "type": "string",
            "description": "Broker-provided human-readable symbol description.",
            "example": "Euro vs US Dollar"
          },
          "visible": {
            "type": "boolean",
            "description": "Whether the symbol is visible in Market Watch.",
            "example": true
          },
          "trade_mode": {
            "type": "number",
            "enum": [
              0,
              1,
              2,
              3,
              4
            ],
            "description": "MT5 ENUM_SYMBOL_TRADE_MODE: 0 disabled, 1 long-only, 2 short-only, 3 close-only, 4 full trading.",
            "example": 4,
            "x-enumNames": [
              "SYMBOL_TRADE_MODE_DISABLED",
              "SYMBOL_TRADE_MODE_LONGONLY",
              "SYMBOL_TRADE_MODE_SHORTONLY",
              "SYMBOL_TRADE_MODE_CLOSEONLY",
              "SYMBOL_TRADE_MODE_FULL"
            ],
            "x-enumDescriptions": [
              "Trading is disabled for this symbol.",
              "Only long positions are allowed.",
              "Only short positions are allowed.",
              "Only closing existing positions is allowed.",
              "Full trading is allowed."
            ],
            "x-enumVarNames": [
              "SYMBOL_TRADE_MODE_DISABLED",
              "SYMBOL_TRADE_MODE_LONGONLY",
              "SYMBOL_TRADE_MODE_SHORTONLY",
              "SYMBOL_TRADE_MODE_CLOSEONLY",
              "SYMBOL_TRADE_MODE_FULL"
            ]
          }
        },
        "required": [
          "name",
          "path",
          "description",
          "visible"
        ]
      },
      "Mt5SymbolInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Broker symbol name.",
            "example": "EURUSD"
          },
          "path": {
            "type": "string",
            "description": "Symbol tree path in the MT5 terminal.",
            "example": "Forex\\Majors\\EURUSD"
          },
          "description": {
            "type": "string",
            "description": "Broker-provided human-readable symbol description.",
            "example": "Euro vs US Dollar"
          },
          "visible": {
            "type": "boolean",
            "description": "Whether the symbol is visible in Market Watch.",
            "example": true
          },
          "digits": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of digits after the decimal point for prices on this symbol.",
            "example": 5
          },
          "point": {
            "type": "number",
            "description": "Smallest quoted price point for the symbol.",
            "example": 1e-05
          },
          "trade_mode": {
            "type": "number",
            "enum": [
              0,
              1,
              2,
              3,
              4
            ],
            "description": "MT5 ENUM_SYMBOL_TRADE_MODE: 0 disabled, 1 long-only, 2 short-only, 3 close-only, 4 full trading.",
            "example": 4,
            "x-enumNames": [
              "SYMBOL_TRADE_MODE_DISABLED",
              "SYMBOL_TRADE_MODE_LONGONLY",
              "SYMBOL_TRADE_MODE_SHORTONLY",
              "SYMBOL_TRADE_MODE_CLOSEONLY",
              "SYMBOL_TRADE_MODE_FULL"
            ],
            "x-enumDescriptions": [
              "Trading is disabled for this symbol.",
              "Only long positions are allowed.",
              "Only short positions are allowed.",
              "Only closing existing positions is allowed.",
              "Full trading is allowed."
            ],
            "x-enumVarNames": [
              "SYMBOL_TRADE_MODE_DISABLED",
              "SYMBOL_TRADE_MODE_LONGONLY",
              "SYMBOL_TRADE_MODE_SHORTONLY",
              "SYMBOL_TRADE_MODE_CLOSEONLY",
              "SYMBOL_TRADE_MODE_FULL"
            ]
          },
          "trade_exemode": {
            "type": "number",
            "enum": [
              0,
              1,
              2,
              3
            ],
            "description": "MT5 ENUM_SYMBOL_TRADE_EXECUTION: 0 request, 1 instant, 2 market, 3 exchange.",
            "example": 1,
            "x-enumNames": [
              "SYMBOL_TRADE_EXECUTION_REQUEST",
              "SYMBOL_TRADE_EXECUTION_INSTANT",
              "SYMBOL_TRADE_EXECUTION_MARKET",
              "SYMBOL_TRADE_EXECUTION_EXCHANGE"
            ],
            "x-enumDescriptions": [
              "Request execution.",
              "Instant execution.",
              "Market execution.",
              "Exchange execution."
            ],
            "x-enumVarNames": [
              "SYMBOL_TRADE_EXECUTION_REQUEST",
              "SYMBOL_TRADE_EXECUTION_INSTANT",
              "SYMBOL_TRADE_EXECUTION_MARKET",
              "SYMBOL_TRADE_EXECUTION_EXCHANGE"
            ]
          },
          "trade_calc_mode": {
            "type": "integer",
            "description": "MT5 ENUM_SYMBOL_CALC_MODE describing how margin and profit are computed.",
            "example": 0
          },
          "trade_contract_size": {
            "type": "number",
            "description": "Contract size used by MT5 for margin and profit calculations.",
            "example": 100000
          },
          "trade_tick_value": {
            "type": "number",
            "description": "Value of one tick (smallest price change) in the deposit currency.",
            "example": 1
          },
          "trade_tick_size": {
            "type": "number",
            "description": "Minimum price change for this symbol.",
            "example": 1e-05
          },
          "trade_tick_value_profit": {
            "type": "number",
            "description": "Tick value when the price moves in the position's favor (deposit currency).",
            "example": 1
          },
          "trade_tick_value_loss": {
            "type": "number",
            "description": "Tick value when the price moves against the position (deposit currency). Use this for client-side risk sizing.",
            "example": 1
          },
          "volume_min": {
            "type": "number",
            "description": "Minimum allowed deal volume.",
            "example": 0.01
          },
          "volume_max": {
            "type": "number",
            "description": "Maximum allowed deal volume.",
            "example": 100
          },
          "volume_step": {
            "type": "number",
            "description": "Smallest allowed volume increment.",
            "example": 0.01
          },
          "filling_mode": {
            "type": "integer",
            "description": "Bit mask of MT5 volume filling policies allowed for this symbol.",
            "example": 1
          },
          "order_mode": {
            "type": "integer",
            "description": "Bit mask of MT5 order types allowed for this symbol.",
            "example": 127
          },
          "currency_base": {
            "type": "string",
            "description": "Base currency or asset.",
            "example": "EUR"
          },
          "currency_profit": {
            "type": "string",
            "description": "Profit currency.",
            "example": "USD"
          },
          "currency_margin": {
            "type": "string",
            "description": "Margin currency.",
            "example": "EUR"
          }
        },
        "required": [
          "name",
          "path",
          "description",
          "visible",
          "digits",
          "point",
          "trade_mode",
          "trade_exemode",
          "trade_calc_mode",
          "trade_contract_size",
          "trade_tick_value",
          "trade_tick_size",
          "trade_tick_value_profit",
          "trade_tick_value_loss",
          "volume_min",
          "volume_max",
          "volume_step",
          "filling_mode",
          "order_mode",
          "currency_base",
          "currency_profit",
          "currency_margin"
        ]
      },
      "Mt5Tick": {
        "type": "object",
        "properties": {
          "time": {
            "type": "number",
            "description": "Tick time as Unix seconds.",
            "example": 1778155200
          },
          "time_msc": {
            "type": "number",
            "description": "Tick time in Unix milliseconds.",
            "example": 1778155200123
          },
          "bid": {
            "type": "number",
            "example": 1.08424
          },
          "ask": {
            "type": "number",
            "example": 1.08428
          },
          "last": {
            "type": "number",
            "example": 1.08426
          },
          "volume": {
            "type": "number",
            "example": 100
          },
          "volume_real": {
            "type": "number",
            "description": "Exchange real volume when the broker provides it.",
            "example": 0
          },
          "flags": {
            "type": "integer",
            "description": "MT5 tick flag bit mask describing which tick fields changed.",
            "example": 6
          }
        }
      },
      "Mt5Rate": {
        "type": "object",
        "properties": {
          "time": {
            "type": "number",
            "description": "Bar open time as Unix seconds.",
            "example": 1778155200
          },
          "open": {
            "type": "number",
            "example": 1.0841
          },
          "high": {
            "type": "number",
            "example": 1.0852
          },
          "low": {
            "type": "number",
            "example": 1.0838
          },
          "close": {
            "type": "number",
            "example": 1.0848
          },
          "tick_volume": {
            "type": "number",
            "description": "Tick volume for this bar.",
            "example": 230
          },
          "spread": {
            "type": "number",
            "description": "Spread in points for this bar.",
            "example": 12
          },
          "real_volume": {
            "type": "number",
            "description": "Exchange real volume when the broker provides it.",
            "example": 0
          }
        },
        "required": [
          "time",
          "open",
          "high",
          "low",
          "close"
        ]
      },
      "Mt5Order": {
        "type": "object",
        "properties": {
          "ticket": {
            "type": "number",
            "example": 100001
          },
          "symbol": {
            "type": "string",
            "example": "EURUSD"
          },
          "type": {
            "type": "integer",
            "example": 0
          },
          "type_filling": {
            "type": "integer",
            "example": 0
          },
          "type_time": {
            "type": "integer",
            "example": 0
          },
          "state": {
            "type": "integer",
            "example": 1
          },
          "volume_initial": {
            "type": "number",
            "example": 0.1
          },
          "volume_current": {
            "type": "number",
            "example": 0.1
          },
          "price_open": {
            "type": "number",
            "example": 1.08424
          },
          "price_current": {
            "type": "number",
            "example": 1.08424
          },
          "price_stoplimit": {
            "type": "number",
            "example": 0
          },
          "sl": {
            "type": "number",
            "example": 0
          },
          "tp": {
            "type": "number",
            "example": 0
          },
          "magic": {
            "type": "integer",
            "example": 0
          },
          "position_id": {
            "type": "integer",
            "example": 0
          },
          "position_by_id": {
            "type": "integer",
            "example": 0
          },
          "comment": {
            "type": "string",
            "example": ""
          },
          "external_id": {
            "type": "string",
            "example": ""
          },
          "time_setup": {
            "type": "number",
            "example": 1778155200
          },
          "time_setup_msc": {
            "type": "number",
            "example": 1778155200123
          },
          "time_done": {
            "type": "number",
            "example": 0
          },
          "time_done_msc": {
            "type": "number",
            "example": 0
          },
          "time_expiration": {
            "type": "number",
            "example": 0
          }
        },
        "required": [
          "ticket",
          "symbol",
          "type",
          "type_filling",
          "type_time",
          "state",
          "volume_initial",
          "volume_current",
          "price_open",
          "price_current",
          "price_stoplimit",
          "sl",
          "tp",
          "magic",
          "position_id",
          "position_by_id",
          "comment",
          "external_id",
          "time_setup",
          "time_setup_msc",
          "time_done",
          "time_done_msc",
          "time_expiration"
        ]
      },
      "Mt5Position": {
        "type": "object",
        "properties": {
          "ticket": {
            "type": "number",
            "example": 100001
          },
          "identifier": {
            "type": "number",
            "example": 100001
          },
          "symbol": {
            "type": "string",
            "example": "EURUSD"
          },
          "type": {
            "type": "integer",
            "example": 0
          },
          "volume": {
            "type": "number",
            "example": 0.1
          },
          "price_open": {
            "type": "number",
            "example": 1.08424
          },
          "price_current": {
            "type": "number",
            "example": 1.08424
          },
          "profit": {
            "type": "number",
            "example": 25.4
          },
          "swap": {
            "type": "number",
            "example": 0
          },
          "magic": {
            "type": "integer",
            "example": 0
          },
          "comment": {
            "type": "string",
            "example": ""
          },
          "external_id": {
            "type": "string",
            "example": ""
          },
          "sl": {
            "type": "number",
            "example": 0
          },
          "tp": {
            "type": "number",
            "example": 0
          },
          "time": {
            "type": "number",
            "example": 1778155200
          },
          "time_msc": {
            "type": "number",
            "example": 1778155200123
          },
          "time_update": {
            "type": "number",
            "example": 1778155200
          },
          "time_update_msc": {
            "type": "number",
            "example": 1778155200123
          }
        },
        "required": [
          "ticket",
          "identifier",
          "symbol",
          "type",
          "volume",
          "price_open",
          "price_current",
          "profit",
          "swap",
          "magic",
          "comment",
          "external_id",
          "sl",
          "tp",
          "time",
          "time_msc",
          "time_update",
          "time_update_msc"
        ]
      },
      "Mt5HistoryOrder": {
        "type": "object",
        "properties": {
          "ticket": {
            "type": "number",
            "example": 100001
          },
          "symbol": {
            "type": "string",
            "example": "EURUSD"
          },
          "type": {
            "type": "integer",
            "example": 0
          },
          "type_filling": {
            "type": "integer",
            "example": 0
          },
          "type_time": {
            "type": "integer",
            "example": 0
          },
          "state": {
            "type": "integer",
            "example": 1
          },
          "volume_initial": {
            "type": "number",
            "example": 0.1
          },
          "volume_current": {
            "type": "number",
            "example": 0.1
          },
          "price_open": {
            "type": "number",
            "example": 1.08424
          },
          "price_current": {
            "type": "number",
            "example": 1.08424
          },
          "price_stoplimit": {
            "type": "number",
            "example": 0
          },
          "sl": {
            "type": "number",
            "example": 0
          },
          "tp": {
            "type": "number",
            "example": 0
          },
          "magic": {
            "type": "integer",
            "example": 0
          },
          "position_id": {
            "type": "integer",
            "example": 0
          },
          "position_by_id": {
            "type": "integer",
            "example": 0
          },
          "comment": {
            "type": "string",
            "example": ""
          },
          "external_id": {
            "type": "string",
            "example": ""
          },
          "time_setup": {
            "type": "number",
            "example": 1778155200
          },
          "time_setup_msc": {
            "type": "number",
            "example": 1778155200123
          },
          "time_done": {
            "type": "number",
            "example": 0
          },
          "time_done_msc": {
            "type": "number",
            "example": 0
          },
          "time_expiration": {
            "type": "number",
            "example": 0
          }
        },
        "required": [
          "ticket",
          "symbol",
          "type",
          "type_filling",
          "type_time",
          "state",
          "volume_initial",
          "volume_current",
          "price_open",
          "price_current",
          "price_stoplimit",
          "sl",
          "tp",
          "magic",
          "position_id",
          "position_by_id",
          "comment",
          "external_id",
          "time_setup",
          "time_setup_msc",
          "time_done",
          "time_done_msc",
          "time_expiration"
        ]
      },
      "Mt5HistoryDeal": {
        "type": "object",
        "properties": {
          "ticket": {
            "type": "number",
            "example": 200001
          },
          "order": {
            "type": "number",
            "example": 100001
          },
          "symbol": {
            "type": "string",
            "example": "EURUSD"
          },
          "type": {
            "type": "integer",
            "example": 0
          },
          "entry": {
            "type": "integer",
            "example": 1
          },
          "volume": {
            "type": "number",
            "example": 0.1
          },
          "price": {
            "type": "number",
            "example": 1.08678
          },
          "profit": {
            "type": "number",
            "example": 25.4
          },
          "swap": {
            "type": "number",
            "example": 0
          },
          "magic": {
            "type": "integer",
            "example": 0
          },
          "position_id": {
            "type": "integer",
            "example": 0
          },
          "commission": {
            "type": "number",
            "example": 0
          },
          "fee": {
            "type": "number",
            "example": 0
          },
          "comment": {
            "type": "string",
            "example": ""
          },
          "external_id": {
            "type": "string",
            "example": ""
          },
          "time": {
            "type": "number",
            "example": 1778158800
          },
          "time_msc": {
            "type": "number",
            "example": 1778158800123
          }
        },
        "required": [
          "ticket",
          "order",
          "symbol",
          "type",
          "entry",
          "volume",
          "price",
          "profit",
          "swap",
          "magic",
          "position_id",
          "commission",
          "fee",
          "comment",
          "external_id",
          "time",
          "time_msc"
        ]
      },
      "Mt5TradeRetcode": {
        "type": [
          "number",
          "null"
        ],
        "enum": [
          10004,
          10006,
          10007,
          10008,
          10009,
          10010,
          10011,
          10012,
          10013,
          10014,
          10015,
          10016,
          10017,
          10018,
          10019,
          10020,
          10021,
          10022,
          10023,
          10024,
          10025,
          10026,
          10027,
          10028,
          10029,
          10030,
          10031,
          10032,
          10033,
          10034,
          10035,
          10036,
          10038,
          10039,
          10040,
          10041,
          10042,
          10043,
          10044,
          10045,
          10046,
          null
        ],
        "description": "Known MT5 trade server return code. `null` means the runtime did not return a trade-server retcode.",
        "example": 10009,
        "x-enumNames": [
          "TRADE_RETCODE_REQUOTE",
          "TRADE_RETCODE_REJECT",
          "TRADE_RETCODE_CANCEL",
          "TRADE_RETCODE_PLACED",
          "TRADE_RETCODE_DONE",
          "TRADE_RETCODE_DONE_PARTIAL",
          "TRADE_RETCODE_ERROR",
          "TRADE_RETCODE_TIMEOUT",
          "TRADE_RETCODE_INVALID",
          "TRADE_RETCODE_INVALID_VOLUME",
          "TRADE_RETCODE_INVALID_PRICE",
          "TRADE_RETCODE_INVALID_STOPS",
          "TRADE_RETCODE_TRADE_DISABLED",
          "TRADE_RETCODE_MARKET_CLOSED",
          "TRADE_RETCODE_NO_MONEY",
          "TRADE_RETCODE_PRICE_CHANGED",
          "TRADE_RETCODE_PRICE_OFF",
          "TRADE_RETCODE_INVALID_EXPIRATION",
          "TRADE_RETCODE_ORDER_CHANGED",
          "TRADE_RETCODE_TOO_MANY_REQUESTS",
          "TRADE_RETCODE_NO_CHANGES",
          "TRADE_RETCODE_SERVER_DISABLES_AT",
          "TRADE_RETCODE_CLIENT_DISABLES_AT",
          "TRADE_RETCODE_LOCKED",
          "TRADE_RETCODE_FROZEN",
          "TRADE_RETCODE_INVALID_FILL",
          "TRADE_RETCODE_CONNECTION",
          "TRADE_RETCODE_ONLY_REAL",
          "TRADE_RETCODE_LIMIT_ORDERS",
          "TRADE_RETCODE_LIMIT_VOLUME",
          "TRADE_RETCODE_INVALID_ORDER",
          "TRADE_RETCODE_POSITION_CLOSED",
          "TRADE_RETCODE_INVALID_CLOSE_VOLUME",
          "TRADE_RETCODE_CLOSE_ORDER_EXIST",
          "TRADE_RETCODE_LIMIT_POSITIONS",
          "TRADE_RETCODE_REJECT_CANCEL",
          "TRADE_RETCODE_LONG_ONLY",
          "TRADE_RETCODE_SHORT_ONLY",
          "TRADE_RETCODE_CLOSE_ONLY",
          "TRADE_RETCODE_FIFO_CLOSE",
          "TRADE_RETCODE_HEDGE_PROHIBITED",
          "NO_RETCODE"
        ],
        "x-enumDescriptions": [
          "Requote (rejected)",
          "Request rejected (rejected)",
          "Request canceled by trader (rejected)",
          "Order placed (placed)",
          "Request completed (done)",
          "Only part of the request was completed (partial)",
          "Request processing error (rejected)",
          "Request canceled by timeout (rejected)",
          "Invalid request (rejected)",
          "Invalid volume in the request (rejected)",
          "Invalid price in the request (rejected)",
          "Invalid stops in the request (rejected)",
          "Trade is disabled (rejected)",
          "Market is closed (rejected)",
          "There is not enough money to complete the request (rejected)",
          "Prices changed (rejected)",
          "There are no quotes to process the request (rejected)",
          "Invalid order expiration date in the request (rejected)",
          "Order state changed (rejected)",
          "Too frequent requests (rejected)",
          "No changes in request (rejected)",
          "Autotrading disabled by server (rejected)",
          "Autotrading disabled by client terminal (rejected)",
          "Request locked for processing (rejected)",
          "Order or position frozen (rejected)",
          "Invalid order filling type (rejected)",
          "No connection with the trade server (rejected)",
          "Operation is allowed only for live accounts (rejected)",
          "The number of pending orders has reached the limit (rejected)",
          "The volume of orders and positions for the symbol has reached the limit (rejected)",
          "Incorrect or prohibited order type (rejected)",
          "Position with the specified identifier has already been closed (rejected)",
          "A close volume exceeds the current position volume (rejected)",
          "A close order already exists for the specified position (rejected)",
          "The number of open positions has reached the limit (rejected)",
          "The pending order activation request was rejected and the order canceled (rejected)",
          "Only long positions are allowed for the symbol (rejected)",
          "Only short positions are allowed for the symbol (rejected)",
          "Only position closing is allowed for the symbol (rejected)",
          "Position closing is allowed only by FIFO rule (rejected)",
          "Opposite positions on a single symbol are disabled (rejected)",
          "No MT5 retcode was returned by the runtime."
        ],
        "x-enumVarNames": [
          "TRADE_RETCODE_REQUOTE",
          "TRADE_RETCODE_REJECT",
          "TRADE_RETCODE_CANCEL",
          "TRADE_RETCODE_PLACED",
          "TRADE_RETCODE_DONE",
          "TRADE_RETCODE_DONE_PARTIAL",
          "TRADE_RETCODE_ERROR",
          "TRADE_RETCODE_TIMEOUT",
          "TRADE_RETCODE_INVALID",
          "TRADE_RETCODE_INVALID_VOLUME",
          "TRADE_RETCODE_INVALID_PRICE",
          "TRADE_RETCODE_INVALID_STOPS",
          "TRADE_RETCODE_TRADE_DISABLED",
          "TRADE_RETCODE_MARKET_CLOSED",
          "TRADE_RETCODE_NO_MONEY",
          "TRADE_RETCODE_PRICE_CHANGED",
          "TRADE_RETCODE_PRICE_OFF",
          "TRADE_RETCODE_INVALID_EXPIRATION",
          "TRADE_RETCODE_ORDER_CHANGED",
          "TRADE_RETCODE_TOO_MANY_REQUESTS",
          "TRADE_RETCODE_NO_CHANGES",
          "TRADE_RETCODE_SERVER_DISABLES_AT",
          "TRADE_RETCODE_CLIENT_DISABLES_AT",
          "TRADE_RETCODE_LOCKED",
          "TRADE_RETCODE_FROZEN",
          "TRADE_RETCODE_INVALID_FILL",
          "TRADE_RETCODE_CONNECTION",
          "TRADE_RETCODE_ONLY_REAL",
          "TRADE_RETCODE_LIMIT_ORDERS",
          "TRADE_RETCODE_LIMIT_VOLUME",
          "TRADE_RETCODE_INVALID_ORDER",
          "TRADE_RETCODE_POSITION_CLOSED",
          "TRADE_RETCODE_INVALID_CLOSE_VOLUME",
          "TRADE_RETCODE_CLOSE_ORDER_EXIST",
          "TRADE_RETCODE_LIMIT_POSITIONS",
          "TRADE_RETCODE_REJECT_CANCEL",
          "TRADE_RETCODE_LONG_ONLY",
          "TRADE_RETCODE_SHORT_ONLY",
          "TRADE_RETCODE_CLOSE_ONLY",
          "TRADE_RETCODE_FIFO_CLOSE",
          "TRADE_RETCODE_HEDGE_PROHIBITED",
          "NO_RETCODE"
        ]
      },
      "Mt5TradeResult": {
        "type": "object",
        "properties": {
          "retcode": {
            "$ref": "#/components/schemas/Mt5TradeRetcode"
          },
          "retcode_name": {
            "type": [
              "string",
              "null"
            ],
            "example": "TRADE_RETCODE_DONE"
          },
          "retcode_description": {
            "type": [
              "string",
              "null"
            ],
            "example": "Request completed"
          },
          "classification": {
            "type": [
              "string",
              "null"
            ],
            "example": "done"
          },
          "deal": {
            "type": "number",
            "example": 0
          },
          "order": {
            "type": "number",
            "example": 100001
          },
          "volume": {
            "type": "number",
            "example": 0.01
          },
          "price": {
            "type": "number",
            "example": 1.08424
          },
          "bid": {
            "type": "number",
            "example": 1.0842
          },
          "ask": {
            "type": "number",
            "example": 1.08428
          },
          "sl": {
            "type": "number",
            "example": 0
          },
          "tp": {
            "type": "number",
            "example": 0
          },
          "comment": {
            "type": "string",
            "example": "Request executed"
          }
        },
        "required": [
          "retcode",
          "retcode_name",
          "retcode_description",
          "classification",
          "deal",
          "order",
          "volume",
          "price",
          "bid",
          "ask",
          "sl",
          "tp",
          "comment"
        ]
      },
      "Mt5MarketDataWsSubscribeMessage": {
        "type": "object",
        "description": "Client-to-server WebSocket message. This is the only supported incoming message type.",
        "additionalProperties": false,
        "required": [
          "type",
          "symbols"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "subscribe",
            "description": "Message discriminator. Must be `subscribe`.",
            "example": "subscribe"
          },
          "symbols": {
            "type": "array",
            "description": "Complete desired subscription list for this connection. Each `subscribe` replaces the previous list. Send an empty array to clear subscriptions. A single `subscribe` message can include at most 100 symbols.",
            "maxItems": 100,
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64,
              "example": "EURUSD"
            },
            "example": [
              "EURUSD",
              "XAUUSD"
            ]
          }
        },
        "example": {
          "type": "subscribe",
          "symbols": [
            "EURUSD",
            "XAUUSD"
          ]
        }
      },
      "Mt5MarketDataWsConnectionReadyMessage": {
        "type": "object",
        "description": "Server-to-client message sent after the WebSocket connection is accepted.",
        "additionalProperties": false,
        "required": [
          "type",
          "accountId",
          "requestId",
          "symbols",
          "heartbeatSeconds"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "connection.ready",
            "example": "connection.ready"
          },
          "accountId": {
            "type": "string",
            "example": "0c2f7d1a-3c88-4f17-b0c4-b43187c93d9d"
          },
          "requestId": {
            "type": "string",
            "example": "req_01HYT8W8PGX6P0J4YV3TXP38RN"
          },
          "symbols": {
            "type": "array",
            "description": "Initial active subscription list. This is empty when the socket opens.",
            "items": {
              "type": "string"
            },
            "example": []
          },
          "heartbeatSeconds": {
            "type": "integer",
            "description": "Server heartbeat interval in seconds.",
            "example": 25
          }
        },
        "example": {
          "type": "connection.ready",
          "accountId": "0c2f7d1a-3c88-4f17-b0c4-b43187c93d9d",
          "requestId": "req_01HYT8W8PGX6P0J4YV3TXP38RN",
          "symbols": [],
          "heartbeatSeconds": 25
        }
      },
      "Mt5MarketDataWsSubscriptionUpdatedMessage": {
        "type": "object",
        "description": "Server-to-client acknowledgement sent after a valid `subscribe` message is applied.",
        "additionalProperties": false,
        "required": [
          "type",
          "accountId",
          "symbols"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "subscription.updated",
            "example": "subscription.updated"
          },
          "accountId": {
            "type": "string",
            "example": "0c2f7d1a-3c88-4f17-b0c4-b43187c93d9d"
          },
          "symbols": {
            "type": "array",
            "description": "The active subscription list after replacement and symbol resolution.",
            "items": {
              "type": "string"
            },
            "example": [
              "EURUSD",
              "XAUUSD"
            ]
          }
        },
        "example": {
          "type": "subscription.updated",
          "accountId": "0c2f7d1a-3c88-4f17-b0c4-b43187c93d9d",
          "symbols": [
            "EURUSD",
            "XAUUSD"
          ]
        }
      },
      "Mt5MarketDataWsTickMessage": {
        "type": "object",
        "description": "Server-to-client live tick message. A tick is emitted only after both bid and ask are known for the symbol.",
        "additionalProperties": false,
        "required": [
          "type",
          "accountId",
          "symbol",
          "bid",
          "ask",
          "spread",
          "timestamp",
          "time",
          "time_msc",
          "flags"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "tick",
            "example": "tick"
          },
          "accountId": {
            "type": "string",
            "example": "0c2f7d1a-3c88-4f17-b0c4-b43187c93d9d"
          },
          "symbol": {
            "type": "string",
            "example": "EURUSD"
          },
          "bid": {
            "type": "number",
            "description": "Current bid price.",
            "example": 1.08523
          },
          "ask": {
            "type": "number",
            "description": "Current ask price.",
            "example": 1.08535
          },
          "spread": {
            "type": "number",
            "description": "Ask minus bid.",
            "example": 0.00012
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp derived from `time_msc`.",
            "example": "2026-05-21T10:15:30.123Z"
          },
          "time": {
            "type": "integer",
            "description": "Unix timestamp in seconds.",
            "example": 1779358530
          },
          "time_msc": {
            "type": "integer",
            "description": "Unix timestamp in milliseconds.",
            "example": 1779358530123
          },
          "flags": {
            "type": "integer",
            "description": "MT5 tick flags bitmask.",
            "example": 134
          }
        },
        "example": {
          "type": "tick",
          "accountId": "0c2f7d1a-3c88-4f17-b0c4-b43187c93d9d",
          "symbol": "EURUSD",
          "bid": 1.08523,
          "ask": 1.08535,
          "spread": 0.00012,
          "timestamp": "2026-05-21T10:15:30.123Z",
          "time": 1779358530,
          "time_msc": 1779358530123,
          "flags": 134
        }
      },
      "Mt5MarketDataWsErrorMessage": {
        "type": "object",
        "description": "Server-to-client WebSocket error message.",
        "additionalProperties": false,
        "required": [
          "type",
          "code",
          "message"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "error",
            "example": "error"
          },
          "code": {
            "type": "string",
            "description": "Machine-readable error code.",
            "example": "invalid_subscribe"
          },
          "message": {
            "type": "string",
            "example": "subscribe requires a symbols array."
          },
          "symbol": {
            "type": "string",
            "description": "Present when the error applies to a specific symbol.",
            "example": "EURUSD"
          }
        },
        "example": {
          "type": "error",
          "code": "invalid_subscribe",
          "message": "subscribe requires a symbols array."
        }
      },
      "Mt5MarketDataWsServerMessage": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/Mt5MarketDataWsConnectionReadyMessage"
          },
          {
            "$ref": "#/components/schemas/Mt5MarketDataWsSubscriptionUpdatedMessage"
          },
          {
            "$ref": "#/components/schemas/Mt5MarketDataWsTickMessage"
          },
          {
            "$ref": "#/components/schemas/Mt5MarketDataWsErrorMessage"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "connection.ready": "#/components/schemas/Mt5MarketDataWsConnectionReadyMessage",
            "subscription.updated": "#/components/schemas/Mt5MarketDataWsSubscriptionUpdatedMessage",
            "tick": "#/components/schemas/Mt5MarketDataWsTickMessage",
            "error": "#/components/schemas/Mt5MarketDataWsErrorMessage"
          }
        }
      },
      "Mt5MarketDataWsDocumentation": {
        "type": "object",
        "description": "Documentation-only contract object for API reference tools. Runtime clients do not receive this HTTP response.",
        "additionalProperties": false,
        "required": [
          "clientMessage",
          "serverMessages"
        ],
        "properties": {
          "clientMessage": {
            "$ref": "#/components/schemas/Mt5MarketDataWsSubscribeMessage"
          },
          "serverMessages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Mt5MarketDataWsServerMessage"
            }
          }
        }
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/v1/health": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Health"
        ],
        "operationId": "health.get",
        "summary": "Get API health",
        "description": "Returns public API health metadata for the authenticated tenant.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-request-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "example": "req_01HYT8W8PGX6P0J4YV3TXP38RN"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "ok"
                          ]
                        },
                        "plan": {
                          "type": "string",
                          "example": "pro"
                        },
                        "apiVersion": {
                          "type": "string",
                          "enum": [
                            "v1"
                          ]
                        }
                      },
                      "required": [
                        "status",
                        "plan",
                        "apiVersion"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "API, authentication, validation, rate limit, or runtime error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "example": "req_01HYT8W8PGX6P0J4YV3TXP38RN"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "invalid_request"
                        },
                        "message": {
                          "type": "string",
                          "example": "Request validation failed."
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": true
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tenant": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Tenant"
        ],
        "operationId": "tenant.get",
        "summary": "Get tenant metadata and owner trader id",
        "description": "Returns tenant metadata plus the internal owner trader id. Use `ownerAccount.accountId` as `{accountId}` on account operation routes.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "example": "req_01HYT8W8PGX6P0J4YV3TXP38RN"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "tenantId": {
                          "type": "string",
                          "example": "tenant_01HYT8W8PGX6P0J4YV3TXP38RN"
                        },
                        "displayName": {
                          "type": "string",
                          "example": "Acme Capital"
                        },
                        "ownerAccount": {
                          "type": "object",
                          "properties": {
                            "accountId": {
                              "type": "string",
                              "example": "0c2f7d1a-3c88-4f17-b0c4-b43187c93d9d"
                            },
                            "traderId": {
                              "type": "string",
                              "example": "0c2f7d1a-3c88-4f17-b0c4-b43187c93d9d"
                            },
                            "source": {
                              "type": "string",
                              "enum": [
                                "owner"
                              ]
                            },
                            "mt5": {
                              "type": "object",
                              "properties": {
                                "status": {
                                  "$ref": "#/components/schemas/Mt5ConnectionStatus"
                                },
                                "login": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "example": "12345678"
                                },
                                "server": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "example": "Broker-Demo"
                                },
                                "connectedAt": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "format": "date-time",
                                  "example": "2026-05-07T12:00:00.000Z"
                                },
                                "lastError": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "example": null
                                },
                                "lastErrorAt": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "format": "date-time",
                                  "example": null
                                }
                              },
                              "required": [
                                "status",
                                "login",
                                "server",
                                "connectedAt",
                                "lastError",
                                "lastErrorAt"
                              ]
                            }
                          },
                          "required": [
                            "accountId",
                            "traderId",
                            "source",
                            "mt5"
                          ]
                        }
                      },
                      "required": [
                        "tenantId",
                        "displayName",
                        "ownerAccount"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "API, authentication, validation, rate limit, or runtime error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "example": "req_01HYT8W8PGX6P0J4YV3TXP38RN"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "invalid_request"
                        },
                        "message": {
                          "type": "string",
                          "example": "Request validation failed."
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": true
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/traders": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Traders"
        ],
        "operationId": "traders.upsert",
        "summary": "Create or update a trader",
        "description": "Creates an active API trader, or updates the existing trader with the same `externalTraderId` for this tenant.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "externalTraderId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 160
                  },
                  "displayName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 160
                  },
                  "username": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 160
                  },
                  "firstName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 160
                  },
                  "lastName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 160
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {},
                    "default": {}
                  }
                },
                "required": [
                  "externalTraderId",
                  "displayName"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "example": "req_01HYT8W8PGX6P0J4YV3TXP38RN"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "traderId": {
                          "type": "string",
                          "example": "0c2f7d1a-3c88-4f17-b0c4-b43187c93d9d"
                        },
                        "externalTraderId": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "example": "customer-1001"
                        },
                        "source": {
                          "type": "string",
                          "enum": [
                            "api",
                            "telegram",
                            "dashboard",
                            "owner"
                          ]
                        },
                        "displayName": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "example": "Jane Trader"
                        },
                        "telegramId": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "example": 123456789
                        },
                        "username": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "example": "jane_trader"
                        },
                        "firstName": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "example": "Jane"
                        },
                        "lastName": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "example": "Trader"
                        },
                        "metadata": {
                          "type": "object",
                          "additionalProperties": {},
                          "example": {
                            "segment": "vip"
                          }
                        },
                        "isActive": {
                          "type": "boolean"
                        },
                        "mt5": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "$ref": "#/components/schemas/Mt5ConnectionStatus"
                            },
                            "login": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "example": "12345678"
                            },
                            "server": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "example": "Broker-Demo"
                            },
                            "connectedAt": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "format": "date-time",
                              "example": "2026-05-07T12:00:00.000Z"
                            },
                            "lastError": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "example": null
                            },
                            "lastErrorAt": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "format": "date-time",
                              "example": null
                            }
                          },
                          "required": [
                            "status",
                            "login",
                            "server",
                            "connectedAt",
                            "lastError",
                            "lastErrorAt"
                          ]
                        },
                        "account": {
                          "$ref": "#/components/schemas/Mt5AccountInfo"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-05-07T12:00:00.000Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-05-07T12:05:00.000Z"
                        }
                      },
                      "required": [
                        "traderId",
                        "externalTraderId",
                        "source",
                        "displayName",
                        "telegramId",
                        "username",
                        "firstName",
                        "lastName",
                        "metadata",
                        "isActive",
                        "mt5",
                        "createdAt",
                        "updatedAt"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "API, authentication, validation, rate limit, or runtime error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "example": "req_01HYT8W8PGX6P0J4YV3TXP38RN"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "invalid_request"
                        },
                        "message": {
                          "type": "string",
                          "example": "Request validation failed."
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": true
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Traders"
        ],
        "operationId": "traders.list",
        "summary": "List traders",
        "description": "Lists tenant traders. Internal owner accounts are hidden unless `includeInternal=true` is supplied.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "externalTraderId",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            },
            "required": false,
            "name": "telegramId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "api",
                "telegram",
                "dashboard",
                "owner"
              ]
            },
            "required": false,
            "name": "source",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "boolean",
                "null"
              ]
            },
            "required": false,
            "name": "isActive",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/Mt5ConnectionStatus"
            },
            "required": false,
            "name": "mt5Status",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "boolean",
                "null"
              ],
              "default": false
            },
            "required": false,
            "name": "includeInternal",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160
            },
            "required": false,
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "createdFrom",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "createdTo",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "updatedFrom",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "updatedTo",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 0,
              "default": 0
            },
            "required": false,
            "name": "offset",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "updatedAt",
                "lastActiveAt",
                "displayName"
              ],
              "default": "updatedAt"
            },
            "required": false,
            "name": "sort",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "required": false,
            "name": "order",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "boolean",
                "null"
              ],
              "default": false
            },
            "required": false,
            "name": "includeTotal",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "example": "req_01HYT8W8PGX6P0J4YV3TXP38RN"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "traderId": {
                            "type": "string",
                            "example": "0c2f7d1a-3c88-4f17-b0c4-b43187c93d9d"
                          },
                          "externalTraderId": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "example": "customer-1001"
                          },
                          "source": {
                            "type": "string",
                            "enum": [
                              "api",
                              "telegram",
                              "dashboard",
                              "owner"
                            ]
                          },
                          "displayName": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "example": "Jane Trader"
                          },
                          "telegramId": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "example": 123456789
                          },
                          "username": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "example": "jane_trader"
                          },
                          "firstName": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "example": "Jane"
                          },
                          "lastName": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "example": "Trader"
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": {},
                            "example": {
                              "segment": "vip"
                            }
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "mt5": {
                            "type": "object",
                            "properties": {
                              "status": {
                                "$ref": "#/components/schemas/Mt5ConnectionStatus"
                              },
                              "login": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "example": "12345678"
                              },
                              "server": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "example": "Broker-Demo"
                              },
                              "connectedAt": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "format": "date-time",
                                "example": "2026-05-07T12:00:00.000Z"
                              },
                              "lastError": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "example": null
                              },
                              "lastErrorAt": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "format": "date-time",
                                "example": null
                              }
                            },
                            "required": [
                              "status",
                              "login",
                              "server",
                              "connectedAt",
                              "lastError",
                              "lastErrorAt"
                            ]
                          },
                          "account": {
                            "$ref": "#/components/schemas/Mt5AccountInfo"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-05-07T12:00:00.000Z"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-05-07T12:05:00.000Z"
                          }
                        },
                        "required": [
                          "traderId",
                          "externalTraderId",
                          "source",
                          "displayName",
                          "telegramId",
                          "username",
                          "firstName",
                          "lastName",
                          "metadata",
                          "isActive",
                          "mt5",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "example": 20
                        },
                        "offset": {
                          "type": "integer",
                          "minimum": 0,
                          "example": 0
                        },
                        "count": {
                          "type": "integer",
                          "minimum": 0,
                          "example": 2
                        },
                        "total": {
                          "type": "integer",
                          "minimum": 0,
                          "example": 147
                        },
                        "hasMore": {
                          "type": "boolean",
                          "example": false
                        }
                      },
                      "required": [
                        "limit",
                        "count"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "API, authentication, validation, rate limit, or runtime error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "example": "req_01HYT8W8PGX6P0J4YV3TXP38RN"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "invalid_request"
                        },
                        "message": {
                          "type": "string",
                          "example": "Request validation failed."
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": true
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{accountId}/mt5-credentials/test": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Credentials"
        ],
        "operationId": "accountCredentials.test",
        "summary": "Test MT5 credentials",
        "description": "Validates MT5 credentials for an account without storing them.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "example": "0c2f7d1a-3c88-4f17-b0c4-b43187c93d9d"
            },
            "required": true,
            "name": "accountId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "login": {
                    "type": "integer",
                    "exclusiveMinimum": 0
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 512
                  },
                  "server": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 160
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": [
                  "login",
                  "password",
                  "server"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "example": "req_01HYT8W8PGX6P0J4YV3TXP38RN"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "connected": {
                          "type": "boolean",
                          "example": true
                        },
                        "validated": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "account": {
                          "type": "object",
                          "additionalProperties": {},
                          "example": {
                            "login": 12345678,
                            "balance": 10000.5,
                            "equity": 10020.5,
                            "currency": "USD"
                          }
                        }
                      },
                      "required": [
                        "connected",
                        "validated",
                        "account"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "data"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "MT5 credentials were rejected during validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "error"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "API, authentication, validation, rate limit, or runtime error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "example": "req_01HYT8W8PGX6P0J4YV3TXP38RN"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "invalid_request"
                        },
                        "message": {
                          "type": "string",
                          "example": "Request validation failed."
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": true
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/traders/{traderId}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Traders"
        ],
        "operationId": "traders.get",
        "summary": "Get a trader",
        "description": "Returns one tenant trader by `traderId`. For connected traders, includes live MT5 account info when the API key also has `mt5:read`.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "example": "0c2f7d1a-3c88-4f17-b0c4-b43187c93d9d"
            },
            "required": true,
            "name": "traderId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Trader found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "example": "req_01HYT8W8PGX6P0J4YV3TXP38RN"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "traderId": {
                          "type": "string",
                          "example": "0c2f7d1a-3c88-4f17-b0c4-b43187c93d9d"
                        },
                        "externalTraderId": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "example": "customer-1001"
                        },
                        "source": {
                          "type": "string",
                          "enum": [
                            "api",
                            "telegram",
                            "dashboard",
                            "owner"
                          ]
                        },
                        "displayName": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "example": "Jane Trader"
                        },
                        "telegramId": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "example": 123456789
                        },
                        "username": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "example": "jane_trader"
                        },
                        "firstName": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "example": "Jane"
                        },
                        "lastName": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "example": "Trader"
                        },
                        "metadata": {
                          "type": "object",
                          "additionalProperties": {},
                          "example": {
                            "segment": "vip"
                          }
                        },
                        "isActive": {
                          "type": "boolean"
                        },
                        "mt5": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "$ref": "#/components/schemas/Mt5ConnectionStatus"
                            },
                            "login": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "example": "12345678"
                            },
                            "server": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "example": "Broker-Demo"
                            },
                            "connectedAt": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "format": "date-time",
                              "example": "2026-05-07T12:00:00.000Z"
                            },
                            "lastError": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "example": null
                            },
                            "lastErrorAt": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "format": "date-time",
                              "example": null
                            }
                          },
                          "required": [
                            "status",
                            "login",
                            "server",
                            "connectedAt",
                            "lastError",
                            "lastErrorAt"
                          ]
                        },
                        "account": {
                          "$ref": "#/components/schemas/Mt5AccountInfo"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-05-07T12:00:00.000Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-05-07T12:05:00.000Z"
                        }
                      },
                      "required": [
                        "traderId",
                        "externalTraderId",
                        "source",
                        "displayName",
                        "telegramId",
                        "username",
                        "firstName",
                        "lastName",
                        "metadata",
                        "isActive",
                        "mt5",
                        "createdAt",
                        "updatedAt"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "API, authentication, validation, rate limit, or runtime error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "example": "req_01HYT8W8PGX6P0J4YV3TXP38RN"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "invalid_request"
                        },
                        "message": {
                          "type": "string",
                          "example": "Request validation failed."
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": true
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Traders"
        ],
        "operationId": "traders.update",
        "summary": "Update a trader",
        "description": "Updates mutable trader profile fields and metadata for one tenant trader.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "example": "0c2f7d1a-3c88-4f17-b0c4-b43187c93d9d"
            },
            "required": true,
            "name": "traderId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 160
                  },
                  "username": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "minLength": 1,
                    "maxLength": 160
                  },
                  "firstName": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "minLength": 1,
                    "maxLength": 160
                  },
                  "lastName": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "minLength": 1,
                    "maxLength": 160
                  },
                  "isActive": {
                    "type": "boolean"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "example": "req_01HYT8W8PGX6P0J4YV3TXP38RN"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "traderId": {
                          "type": "string",
                          "example": "0c2f7d1a-3c88-4f17-b0c4-b43187c93d9d"
                        },
                        "externalTraderId": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "example": "customer-1001"
                        },
                        "source": {
                          "type": "string",
                          "enum": [
                            "api",
                            "telegram",
                            "dashboard",
                            "owner"
                          ]
                        },
                        "displayName": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "example": "Jane Trader"
                        },
                        "telegramId": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "example": 123456789
                        },
                        "username": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "example": "jane_trader"
                        },
                        "firstName": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "example": "Jane"
                        },
                        "lastName": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "example": "Trader"
                        },
                        "metadata": {
                          "type": "object",
                          "additionalProperties": {},
                          "example": {
                            "segment": "vip"
                          }
                        },
                        "isActive": {
                          "type": "boolean"
                        },
                        "mt5": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "$ref": "#/components/schemas/Mt5ConnectionStatus"
                            },
                            "login": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "example": "12345678"
                            },
                            "server": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "example": "Broker-Demo"
                            },
                            "connectedAt": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "format": "date-time",
                              "example": "2026-05-07T12:00:00.000Z"
                            },
                            "lastError": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "example": null
                            },
                            "lastErrorAt": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "format": "date-time",
                              "example": null
                            }
                          },
                          "required": [
                            "status",
                            "login",
                            "server",
                            "connectedAt",
                            "lastError",
                            "lastErrorAt"
                          ]
                        },
                        "account": {
                          "$ref": "#/components/schemas/Mt5AccountInfo"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-05-07T12:00:00.000Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-05-07T12:05:00.000Z"
                        }
                      },
                      "required": [
                        "traderId",
                        "externalTraderId",
                        "source",
                        "displayName",
                        "telegramId",
                        "username",
                        "firstName",
                        "lastName",
                        "metadata",
                        "isActive",
                        "mt5",
                        "createdAt",
                        "updatedAt"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
[...]
